{% load static %}

<div class="font-[poppins]">

    <footer class="flex flex-col w-full bg-[#F0F0F0] items-center pt-2 pb-4
    2xl:h-[290px]
    xl:h-[220px]">
        <div class="mt-[10px] mb-[15px]">
            <a href="">
                <div class="flex 
                2xl:h-[70px]
                xl:h-[45px]">
                    
                    <img src="{% static logo %}" alt="" class="hover:opacity-65 transition-all duration-200">
                    
                </div>
            </a>
        </div>

        <div class="flex border-1 rounded-full border-[#534F50] opacity-70
        2xl:w-2/8
        xl:w-2/7"></div>

        <div class="
        2xl:py-6
        xl:py-4"> 
            <div class="flex justify-center font-medium text-[#534F50]
            2xl:gap-15 2xl:text-[18px]
            xl:gap-7 xl:text-[14px]">
                <a href="" class="hover:text-[#F58220] transition-all duration-200">Pasang Iklan</a>
                <a href="" class="hover:text-[#F58220] transition-all duration-200">Hubungi Kami</a>
                <a href="" class="hover:text-[#F58220] transition-all duration-200">Tentang Kami</a>
            </div>
        </div>

        <div class="flex border-1 rounded-full border-[#534F50] opacity-70
        2xl:w-2/8
        xl:w-2/7"></div>

        <div class="flex flex-col 
        2xl:mt-[15px]
        xl:mt-[10px]">
            <div class="flex justify-center gap-15 font-semibold text-[#534F50]
            2xl:text-[18px]
            xl:text-[16px]">
                <h1>Social Media</h1>
            </div>
            <div class="flex flex-row mt-2 w-fit h-fit 
            2xl:mt-2 2xl:gap-[20px]
            xl:mt-1 xl:gap-[15px]">
                <div class="w-fit h-fit">
                    <a href="">
                        <img src="{% static instagram %}" alt="" 
                        class="
                        2xl:w-[40px] 2xl:h-[40px]
                        xl:w-[30px] xl:h-[30px]
                        hover:opacity-65 transition-opacity duration-200">
                    </a>
                </div>
                <div class="w-fit h-fit">
                    <a href="">
                        <img src="{% static facebook %}" alt=""
                        class="
                        2xl:w-[40px] 2xl:h-[40px]
                        xl:w-[30px] xl:h-[30px]
                        hover:opacity-65 transition-opacity duration-200">
                    </a>
                </div>
                <div class="w-fit h-fit">
                    <a href="">
                        <img src="{% static tiktok %}" alt=""
                        class="
                        2xl:w-[40px] 2xl:h-[40px]
                        xl:w-[30px] xl:h-[30px]
                        hover:opacity-65 transition-opacity duration-200">
                    </a>    
                </div>
            </div>
        </div>
    </footer>

</div>